{#
    Home page
    - Hero style greeting banner
#}

{% extends 'pages/base.jinja' %}


{% block title %} Flask App Template {% endblock %}


{% block content %}

    <section id="hero">
        <h1>Hello, World!</h1>
    </section>

{% endblock %}

