{#
    Home page, greeting
#}

{% extends 'pages/base.jinja' %}


{% block title %}{% endblock %}


{% block content %}

    <section id="hero">
        <h1>Hello, World!</h1>
    </section>

    <section>
        <p>This is a simple <a href="/about">Flask</a> app, setup with some example pages and styling. It can be used as the basis of your own web app.</p>
    </section>

{% endblock %}

