/* HOME PAGE HERO ***************************/

#hero {
    min-height: 25rem;
    background-color: var(--pico-primary-background);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 4rem;
}

#hero h1 {
    font-size: 6rem;
    color: var(--pico-secondary-inverse);
    text-align: center;
}


/* ABOUT PAGE ***************************/

#info {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
}


